
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Pacifico&family=Press+Start+2P&display=swap');


body {
  padding: 30px;
  font-family:'Handlee', cursive;
}

.store-name {
  font-family: 'Press Start 2P', cursive;
  display:flex;

  justify-content: center;
  text-align: center;
}

.store-h1 {
  font-family: 'Pacifico', cursive;
}

